/* RESET DO SITE */

*{margin:0; padding: 0; box-sizing: border-box;} /* TIRA MARGEM E ESPAÇAMENTO */
ul{list-style: none;} /*tira o pontinho das listas*/
a{text-decoration: none;} /* TIRA SUBLINHADO DOS LINKS */
img{max-width:  100%;}

/* MEDIA QUERIES - RESPONSIVIDADE */

@media screen and (max-width: 480px){
    /* ATÉ RESOLUÇÃO MÁXIMA DE 480 PX - MOBILE */
}

@media screen and (min-width: 1200px){
    /* RESOLUÇÃO DE NO MINÍMO DE 1200 PX - NOTE/PC */

    .container{
        /* COLOCA O DISPLAY DO CONTAINER COMO GRID*/
        display: grid;
        grid-template-columns: 65% 30%;  /* DUAS COLUNAS */
        justify-content: space-between; /* CENTRALIZA CONTEUDO HORIZONTALMENTE- between: espaço entre eles*/
        padding: 10px 5%; /* 10PX SUPERIOR/INFERIOR E 5% LATERAL*/
        
        grid-template-areas:
            "header header"
            "main main"
            "footer footer"
        ; /**/
    }
    
    header{
        grid-area: header; /*identifica a area que colocamos no container*/
        /* ADICIONA UM DISPLAY GRID, POIS ELE TEM SUA DIVISÃO INTERNA */
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-areas: 
            "logo search"
            "nav nav"
            "ads ads"
        ;
    }

    main{
        grid-area: main; /*identifica a area que colocamos no container*/
    }

    footer{
        grid-area: footer; /*identifica a area que colocamos no container*/
    }
}


svg{
    display: inline-block;
    font-size: inherit;
    height: 2.3em;
    overflow: visible;
    vertical-align: -.125em;
    color: rgb(36, 36, 139);
}